In [1]:
from datetime import datetime 
import pandas as pd
import numpy as np
import os.path
import re
import xlrd

    Clave
1 = lunes
2 = martes 
3 = miercoles 
4 = jueves 
5 = viernes
6 = sabado

In [2]:
fecha = "01132022"
semana = 2
dia = 4
fecha_entrega = fecha[2:4]+"/"+fecha[:2]+"/"+fecha[-4:]

# Carga y preparación de DataFrame

In [3]:
# "C:\Users\FernandoManuelGamino\Documents\2_reporte_al_cierre\Reporte rechazo 14092021.xlsx"

path = "../2_reporte_al_cierre"
a_file = fecha+" rechazo.xlsx"
reporte = "RPT_Rejection_Rabbit"

joined_path = os.path.join(path, a_file)
df = pd.read_excel(joined_path,sheet_name=reporte)

In [4]:
df.shape

(5675, 31)

# Homogenización de motivo de rechazos

In [5]:
df.rename(columns = {'Rejection Reason':'Rejection_Reason'}, inplace = True)

In [6]:
df['Fecha de Entrega'] = fecha_entrega

In [7]:
# We consider City as STATE, for practical purposes

df.loc[df['City'].str.contains(r'GDL',flags = re.IGNORECASE),'City'] = "Jalisco"
df.loc[df['City'].str.contains(r'LEON',flags = re.IGNORECASE),'City'] = "Guanajuato"
df.loc[df['City'].str.contains(r'Toluca',flags = re.IGNORECASE),'City'] = "Estado de Mexico"

In [8]:
# We consider Region as CEDIS, for practical purposes

df.loc[df['City'].str.contains(r'Jalisco',flags = re.IGNORECASE),'Region'] = "Guadalajara"
df.loc[df['City'].str.contains(r'Guanajuato',flags = re.IGNORECASE),'Region'] = "Leon"

In [9]:
df['Día'] = dia
df['Semana'] = semana

In [10]:
# OFICINA COMERCIAL

# Carga de DF
# "C:\Users\FernandoManuelGamino\Documents\10_estructura_organizacional\1_supervisor_preventa.xlsx"

path = "../10_estructura_organizacional"
a_file = "1_supervisor_preventa.xlsx"
reporte = "supervisor_preventa"

joined_path = os.path.join(path, a_file)
df2 = pd.read_excel(joined_path,sheet_name=reporte)

In [11]:
df2 = df2[["Preventa","Oficina Comercial"]]
df2.head()

        Preventa Oficina Comercial
0  PVTacubaya001           Condesa
1  PVTacubaya002           Condesa
2  PVTacubaya003           Condesa
3  PVTacubaya004           Condesa
4  PVTacubaya005           Condesa

In [12]:
# Merge Dataframes
df = df.merge(df2, on="Preventa", how="left")

In [13]:
# GERENCIA
# "C:\Users\FernandoManuelGamino\Documents\10_estructura_organizacional\gerencias.xlsx"
path = "../10_estructura_organizacional"
a_file = "gerencias.xlsx"
reporte = "division"

joined_path = os.path.join(path, a_file)
df3 = pd.read_excel(joined_path,sheet_name=reporte)

In [14]:
df3 = df3[["Oficina Comercial","Gerencia"]]
df3.head()

  Oficina Comercial         Gerencia
0          Coacalco  Valle de Mexico
1           Condesa  Valle de Mexico
2        Lindavista  Valle de Mexico
3         Los Reyes  Valle de Mexico
4            Toluca  Valle de Mexico

In [15]:
df = df.merge(df3, on="Oficina Comercial", how="left")

In [16]:
df.head()

,Logistic Distributor,Delivery Route,Delivery Name,Region,City,Channel,Sub Channel,Customer Type,Store code,Preventa,...,Rejection % Qty,Rejection Qty,Rejection_Reason,visitado,Rejection Reason.1,Fecha de Entrega,Día,Semana,Oficina Comercial,Gerencia
0,Jose Manuel Fuentes,Guadalajara-07,Guadalajara-07,Guadalajara,Jalisco,Canal Tradicional,Tiendas de abarrotes/misceláneas,8_Tiendas de abarrotes/misceláneas,JC09800029,PVGdl020,...,0.0,0,NaN,visitado,Entregado,13/01/2022,4,2,Guadalajara,Occidente
1,Jose Manuel Fuentes,Guadalajara-07,Guadalajara-07,Guadalajara,Jalisco,Canal Tradicional,Tiendas de abarrotes/misceláneas,8_Tiendas de abarrotes/misceláneas,JC12001500,PVGdl020,...,0.0,0,NaN,visitado,Entregado,13/01/2022,4,2,Guadalajara,Occidente
2,Jose Manuel Fuentes,Guadalajara-07,Guadalajara-07,Guadalajara,Jalisco,Canal Tradicional,Tiendas de abarrotes/misceláneas,8_Tiendas de abarrotes/misceláneas,JC12001511,PVGdl020,...,0.0,0,NaN,visitado,Entregado,13/01/2022,4,2,Guadalajara,Occidente
3,Jose Manuel Fuentes,Guadalajara-07,Guadalajara-07,Guadalajara,Jalisco,Canal Tradicional,Tiendas de abarrotes/misceláneas,8_Tiendas de abarrotes/misceláneas,JC12001487,PVGdl020,...,0.0,0,NaN,visitado,Entregado,13/01/2022,4,2,Guadalajara,Occidente
4,Jose Manuel Fuentes,Guadalajara-07,Guadalajara-07,Guadalajara,Jalisco,Canal Tradicional,Tiendas de abarrotes/misceláneas,8_Tiendas de abarrotes/misceláneas,JC12001492,PVGdl020,...,0.0,0,NaN,visitado,Entregado,13/01/2022,4,2,Guadalajara,Occidente

# Exportación de archivo

In [17]:
#"C:\Users\FernandoManuelGamino\Documents\historico_operaciones"
path = "../historico_operaciones/"
b_file = fecha[:4]+"_operacion.xlsx"
joined_path2 = os.path.join(path, b_file)
df.to_excel(joined_path2,sheet_name=reporte, index=False, header=True)